<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>404 : PAGE NOT FOUND</title>
        <meta name="description" content="404 : PAGE NOT FOUND">
        
        <!-- Main CSS -->
        <link rel="stylesheet" href="../styles/main.css">
        
        <!-- Error CSS -->
        <link rel="stylesheet" href="../styles/404.css">
    </head>

<div class="container">
	<div class="jumbotron">
		<div class="center-text">
			<h1>PAGE NOT FOUND : <small class="error">ERROR 404</small></h1>
            <p>The page you have requested cannot be found.  As this website is a work in progress, this <i>may</i> be our fault, in which case it will be fixed quickly.</p>
            
            <img src="http://www.reactiongifs.com/r/2013/08/oops.gif"></img>
            
            <h3><i>But fear not!</i> The button below will guide you back to the start:</h3>
			<input type="button" class="btn btn-default btn-lg" ng-click="goToHome()" value="HOME">
		</div>
	</div>
</div>
    
        </body>
</html>
