<div class="container">
<h2>Welcome, {{name}}! &nbsp;<small><b>Your current FERPA score is {{ferpa}}.</b></small></h2>
    
    <div class="logout"><a href="../model/logout.php"><b>LOGOUT</a></b></div>
    
	<br>
	<!--Previous Submissions-->
	<div>
		<div id="accordionMain" class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseMain">Previous Submissions</a>
					</h4>
				</div>
				<div id="collapseMain" class="panel-collapse collapse">
					<div class="panel-body">
						<div ng-repeat="forms in prevForms"><a ng-click="downloadForm(forms.id)">{{forms.name}}</a></div>
					</div>
			</div>
		</div>
	<div>
	<!--Instruction Set-->
	<div class="center-block">
		<h3>Submission Instructions: </h3>
		<p ng-show="CurrentInstructionSet">
            
            Welcome to the Electronic Sis Security Form! Using this form, you can request specific access to various parts of myZou. <b>In order to complete the form, you must have a FERPA score of 85 or above. </b>
             
            <br><br>
            
            To submit the application, please click on the button below. You will be redirected to the online application form. Please fill out the form completely and click the "SUBMIT" button at the bottom of the screen. If you are confused about a certain form field, please hover over that form field's name. It will provide additional information as to what should be entered into that form. 
            
            <br><br>
            
            To view previously submitted applications, please refer to the dropdown above.
         
            <br><br>
            
            If you have any questions, please contact our support desk at <a href="mailto:lmaosupport@missouri.edu">lmaosupport@missouri.edu</a>.
        
        </p>
		<p ng-hide="CurrentInstructionSet">
            
            Welcome to the Electronic Sis Security Form! Using this form, you can request specific access to various parts of myZou. <b>In order to complete the form, you must have a FERPA score of 85 or above.</b>
            
            <br><br>
            
            Unfortunately, your FERPA score isn't high enough to meet the criteria. Please click the button below to retake the FERPA quiz. Once you've achieved a score of 85 or above, please log in; the form will be available for you to submit!
            
                        <br><br>
            
            If you have any questions, please contact our support desk at <a href="mailto:lmaosupport@missouri.edu">lmaosupport@missouri.edu</a>.
            
        </p>

        

		<input type="button" class="applicantbutton" ng-click="goToForm()" ng-show="CurrentInstructionSet" value="Fill Out Form">&nbsp;
		<input type="button" class="applicantbutton" ng-click="takeFERPA()" ng-hide="CurrentInstructionSet" value="Take FERPA Quiz">
	</div>
	<br>
	<br>
</div>