<div class="container">
	<h3>Applicant: {{name}}</h3>
	<h4>FERPA Score: {{ferpa}}</h4>
	<br>
	<!--Previous Submissions-->
	<div>
		<div id="accordionMain" class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseMain">Previous Submissions</a>
					</h4>
				</div>
				<div id="collapseMain" class="panel-collapse collapse">
					<div class="panel-body">
						<div ng-repeat="forms in prevForms"><a ng-click="downloadForm(forms.id)">{{forms.name}}</a></div>
					</div>
			</div>
		</div>
	<div>
	<!--Instruction Set-->
	<div class="center-block">
		<h4>Instructions: </h4>
		<p ng-show="CurrentInstructionSet">Instructions to fill out form....</p>
		<p ng-hide="CurrentInstructionSet">Instructions to take ferpa quiz.....</p>
		<br>
		<br>
		<input type="button" class="btn btn-default btn-lg" ng-click="goToForm()" ng-show="CurrentInstructionSet" value="Fill out form">
		<input type="button" class="btn btn-default btn-lg" ng-click="takeFERPA()" ng-hide="CurrentInstructionSet" value="Take FERPA Quiz">
	</div>
	<br>
	<br>
</div>
