            <div class="usercontainer">
  <div class="userinfo">
    <h4>Hello, <b>{{loggedInUser.Full_Name}}!</b><br>
    <small>Your current FERPA score is <b>{{loggedInUser.Ferpa_Score}}.</b></small></h4>
      
      <p>You are currently viewing our form creation page!</p>
      
      <p>Other functionality stuff can go here, in the event that we discover something else we'd like to add for navigation purposes.</p>
      
    <h4 class="logout">
        <a href="./model/logout.php"><b>LOGOUT</b></a>
        </h4>
        </div></div>


<div id="pagecontainer">

<div class='container'>
<h1>Create new security form</h1>
<h3>{{submitError}}</h3>
<h3><b>Application:</b></h3>
<select class='form-control' ng-model='form.application' ng-options="site.name for site in websites track by site.name">
</select>
<br><br>
<label>
	Form name:
	<input type="text" class="form-control" ng-model='form.name'>
</label>
<div id="security-role-form">
	             <h3>Add role:</h3>
                <h4>{{saveError}}</h4>
                <label>
                        Role:
                        <input type='text' class='form-control' ng-model="role.name">
                </label><br>
                <label id="security-textarea">
                        Description: <br>
                        <textarea class='form-control' ng-model="role.description"></textarea>
                </label><br>
                <b>Access Type Options: </b><br>
                <div class='checkbox'>
                        <label><input type='checkbox' value='View' ng-model="role.view"> View</label>
                </div>
                <div class='checkbox'>
                        <label><input type='checkbox' value='Update' ng-model="role.update"> Update</label>
                </div>

                <input type="button" class="btn btn-success" ng-click="addRole()" value="+ Add a new security role">
        </div>
        <h3 ng-show='addedRoles.length > 0'>Roles:</h3>
        <div id="added-roles">
                <div ng-repeat='r in addedRoles' class='role'>
                        <div id='{{r.name}}'>
                                <h4><b>{{r.name}}</b></h4>
                        </div>
                        <input type="button" class="btn btn-role btn-lg btn-danger" ng-click="removeRole(r.name) " value="Remove">
                        <p class='description'><b>Description:</b> {{r.description}}</p>
                        <b>Access type options:</b>
                        <ul class='list-inline'>
                                <li ng-show='r.update' class='glyphicon glyphicon-ok'>update</li>
                                <li ng-show='!r.update'class='glyphicon glyphicon-remove'>update</li>
                                <li ng-show='r.view' class='glyphicon glyphicon-ok'>view</li>
                                <li ng-show='!r.view'class='glyphicon glyphicon-remove'>view</li>
                        </ul>
                </div>
        </div>

	<button type='button' ng-click='submitCreatedForm()'>SAVE</button>
</div>
</div>
<br><br>
<!--<button submitrole>Click</button>-->
</div>
