<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ATEAM : ERROR</title>
        <meta name="description" content="ATEAM : ERROR">
        
        <!-- Main CSS -->
        <link rel="stylesheet" href="../styles/main.css">
        
        <!-- Error CSS -->
        <link rel="stylesheet" href="../styles/404.css">
    </head>
    <body>
<div class="container">
                <div class="center-text">
                    <h1>ERROR. ERROR. <small class="error">ABORT. ABORT.</small></h1>
                        <p>You have run into an error.  As we are still creating this snazzy ol' website, this may happen from time to time. Our bad!</p>
                    
                    <img src="https://31.media.tumblr.com/f4cf232b2e71b1ef3a7c88cc935757dc/tumblr_inline_n5a0leXdae1rt6qr4.gif"></img>
                    
            <h3><i>Let's just...let's just pretend like you never saw this. </i> Click the button below to erase your memory:</h3>
                        <input type="button" class="btn btn-default btn-lg" ng-click="goToHome()" value="HOME">
                </div>
</div>
    
    
        </body>
</html>


