<div class="container">

	<!--Auto Fill Bio Data-->
    <p>Full Legal Name: {{loggedInUser.Full_Name}}</p>
    <p>Title: {{loggedInUser.Title}}</p>
    <p>Department: {{loggedInUser.Department}}</p>
    <p>Pawprint/SSO: {{loggedInUser.SSO}}</p>
    <p>Employee ID: {{loggedInUser.Employee_ID}}</p>
    <p>Campus Address: {{loggedInUser.Campus_Address}}</p>
    <p>Phone Number: {{loggedInUser.Phone_Number}}</p>
    
    <!-- Choose appropriate request type -->
    <div class="form-group">
        <label for="requestType">Choose which type of request you would like to make:</label>
        <select class="form-control" ng-model="requestType">
            <option value="new">New Request</option>
            <option value="additional">Additional Request</option>
        </select>
    </div>
    
    <!-- Are you a student worker? -->
    <div class="checkbox">
        <label><input type="checkbox" ng-model="studentWorker"><b>Check if Student Worker</b></label>
    </div>

    <!-- Please describe why you need access? -->
    <div class="form-group">
        <label>Please describe the type of access needed (i.e., view student name, address, rosters, etc.). Please be specific.</label>
        <textarea class="form-control" rows="5" ng-model="explainRequest"></textarea>
    </div>
    
    <!-- Copy Security of Current/Former Staff Member -->
    <div class="checkbox">
        <label><input type="checkbox" ng-model="toggle" ng-change="toggleSecQuestions()"><b>Should we copy the security of a current or former staff member?</b></label>
    </div>
    
    <form role="form" ng-hide="askSecQuestions">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="currentEmpCopy"> Copy current employee?</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="formerEmpCopy"> Copy former employee?</label>
        </div>
        <div class="form-group">
            <label data-toggle="tooltip" data-placement="top" title="sample explanation of what goes here. this feature has not yet been fully implemented.">Name: </label>
            <input type="text" class="form-control" name="empName" ng-model="copySecurity.empName" required>
        </div>
        <div class="form-group">
            <label>Position: </label>
            <input type="text" class="form-control" name="empPosition" ng-model="copySecurity.empPosition" required>
        </div>
        <div class="form-group">
            <label>PawPrint/SSO: </label>
            <input type="text" class="form-control" name="empPawprint" ng-model="copySecurity.empPawprint" required>
        </div>
        <div class="form-group">
            <label>Employee ID (if available): </label>
            <input type="text" class="form-control" name="empId" ng-model="copySecurity.empId" required>
        </div>
    </form>
    
	<!--Drop Down Menu-->
    <!-- cwm262 note: changed how this select group was working. Implemented ng-options -->
	<div class="form-group" ng-show="askSecQuestions">
		<label for="selectLevel">Requested Security Level: <small>*note: Update assumes access to View as well</small></label>
        <select class="form-control" ng-model="selectedLevelQuestions" ng-options="levels.questions as levels.number for levels in securityLevels"></select>
	</div>

    <!-- cwm262 note: Changed how this was working to coincide with change to above select group.-->
	<div class="checkbox" ng-model="selectedLevelQuestions" ng-repeat="questions in selectedLevelQuestions">
		<label><input type="checkbox" ng-model="questions.value">{{questions.question}}</label>
		<div ng-repeat="status in questions.status"><label><input type="radio" name="status" ng-model="questions.selectedStatus">{{status}}</label></div>
	</div>
    
        <h2 class="error">{{saveError}}</h2>
    
    <button type="button" ng-click="saveRequest()">SUBMIT</button>
</div>
        
        <br><br><br>
        
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>