<div class="container">
	<!--<h1>Create new security form</h1>
	
	<div>

		<div id="security-role-form">
			<h3>Add role:</h3>
			<h4>{{saveError}}</h4>
			<label>
				Role:
				<input type='text' ng-model="role.name">
			</label><br>
			<label>
				Description: <br>
				<textarea id="security-textarea" ng-model="role.description"></textarea>
			</label><br>
			<b>Access Type Options: </b><br>
			<label><input type='checkbox' name='role.accessOptions[]' value='View' ng-model="role.view"> View</label><br>
			<label><input type='checkbox' name='role.accessOptions[]' value='Update' ng-model="role.update"> Update</label><br>
			<input type="button" class="btn btn-success" ng-click="addRole()" value="+ Add a new security role">
		</div>
		<h3 ng-show='roleNames.length > 0'>Roles:</h3>
		<div id="added-roles">

		</div>

		<addrule></addrule>
		<div id="space-for-buttons"></div>
	</div>-->

	<addrule></addrule>
	<div id="space-for-roles">
	</div>
</div>
