.applicantbutton{
		appearance: none;
		outline: 0;
		background-color: black;
		border: 0;
		padding: 10px 15px;
		color: #f1b82d;
		border-radius: 3px;
		width: 200px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
        margin-top: 1.3em;
}

.applicantbutton:hover{
opacity: 0.7;
}

.panel-default
{
    border-color: black;
}

.panel-default>.panel-heading
{
    background:#f1b82d;
}

h2 small
{
    color:#f1b82d;
}

a:hover
{
    text-decoration:none;
    color:black;
}

.logout
{
    float:right;
}

.rejected
{
    background-color: firebrick;
}

.approved
{
    background-color: palegreen;
}