@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,900,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-120px);
    }
    100% {
        opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% 
     {
       opacity: 0;
       transform: translateY(-120px);
     }   
100% 
     {
         opacity: 1;
         transform: translateY(0);
    }
 }
          

body {
    margin: 0 auto;
    font-family: "Raleway", Times New Roman, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #000000;
    background-color: #ffffff;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    margin-left: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #f1b82d;
    text-decoration:none;
}

a:hover
{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

b, strong 
{
    font-weight: 600;
}

p
{
    margin: 1em;
}

p a:hover
{
    opacity:0.7;
}

img {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.center-text 
{
    text-align: center;
}
.error 
{
    color: red;
}
.float-right 
{
    float: right;
}
.center-text 
{
    text-align: center;
}
.error 
{
    color: red;
}

header
{
    background-color:#f1b82d;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);
    width: 100%;
    /*position:fixed; saved for later date*/
    height:200px;
}

.jumbotron, .container-fluid .jumbotron
{
    background-color:#f1b82d;
    height:200px;
}

#content
{
    /*padding-top:250px; saved for later date with fixed header*/
    float:left;
    max-width:100%;
    padding-left: 5%;
    padding-bottom:100px;
}

.animated
{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;    
}

    .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    }

#headertitle
{
    margin-top:-2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    text-transform: uppercase;
}

#headerdesc
{
    margin-top:-10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    padding-left: 4vw;
    text-transform: uppercase;
}

#pagecontainer
{
    max-width:70%;
}

.usercontainer
{
    margin-top: -100px;
    background-color:white;
    border: 1px #e9e9e9 solid;
    border-radius:10px;
    max-width:400px;
    width:15%;
    position:absolute;
    margin-left:70vw;
/*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 47% 100%, 50% 75%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 47% 100%, 50% 75%, 0% 75%);
    padding-bottom:80px; to be implemented later to give chat shape*/
}

.usercontainer p
{
    font-size:15px;
}

.logout
{
    padding-right:10%;
    text-align:right;
}

#security-role-form
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #e9e9e9;
}
#security-textarea
{
    width: 70%;
}
.role
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #e9e9e9;
}
.btn-role
{
    clear: right;
    float: right;
    width: 100px;
    margin-bottom: 5px;
}
.hr-black
{
   border-top: 1px solid black;
}
.description
{
   word-wrap: break-word;
   width: 65%;
}
.clearfix
{
	overflow: auto;
}

.btn-success
{
    appearance: none;
		outline: 0;
		background: black;
		border: 0;
		padding: 10px 15px;
		color: #f1b82d;
		border-radius: 3px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
        margin-top: 1.3em;
}

.btn-default
{
    appearance: none;
		outline: 0;
		background: black;
		border: 0;
		padding: 10px 15px;
		color: #f1b82d;
		border-radius: 3px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
        margin-top: 1.3em;
        text-shadow:none;
}

.btn-primary
{
    appearance: none;
		outline: 0;
		background: black;
		border: 0;
		padding: 10px 15px;
		color: #f1b82d;
		border-radius: 3px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
        margin-top: 1.3em;
        text-shadow:none;
}

.btn-danger, .addRole
{
    appearance: none;
		outline: 0;
		background: black;
		border: 0;
		padding: 10px 15px;
		color: #f1b82d;
		border-radius: 3px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
        margin-top: 1.3em;
        text-shadow:none;    
}

.btn-default:hover
{
    background:black;
    color:#f1b82d;
    opacity: 0.7;
    text-shadow:none;
}

.btn-success:hover{
    background:black;
    color:#f1b82d;
opacity: 0.7;
}

.btn-primary:hover{
    background:black;
    color:#f1b82d;
opacity: 0.7;
}

.btn-danger:hover{
    background:black;
    color:#f1b82d;
opacity: 0.7;
}

.editButton, .deleteButton
{
      appearance: none;
		outline: 0;
		background: black;
		border: 0;
		border-radius: 3px;
		color: #f1b82d;
		cursor: pointer;
		transition-duration: 0.25s;
        text-shadow:none;  
}

.editButton:hover, .deleteButton:hover
{
    opacity:0.7;
}


.addRole:hover
{
    opacity:0.7;
}

#footer
{
    background:#f1b82d;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:right;
    -webkit-clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
}